body {
  margin:0;
  background:  linear-gradient(to right, #4C1F7A , #4C1F7A );
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  
}
h3{
  color:#222831;
}
h1{
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 25px;
  padding-top: 5px;
  

}

 /* form style :TaskForm */
form{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top: 2em;
}
.formsection{
   margin:4em auto;
  color:black;
  height: fit-content;
  width:28%;
  border-radius: 18px;
  background-color:#F0E3E3;
  padding:0 2em 1em 2em;
  }

input[type='submit']{
  color:white;
  background-color: #008DDA;
  width:40%;
  height:33px;
  border:none;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin:1em auto;

  word-wrap: break-word; /* Allow text to break into a new line if necessary */
  white-space: normal; /* Make sure the text can wrap normally */
  display: inline-block;

}

input[type='submit']:hover{
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional: Add glow effect */
  background-color: #1a9fe7;
}
input,textarea{
  border-radius: 6px;
  padding-left:6px;
 }

input{
  height:25px;
}
input,textarea:focus{
  outline: none;
  border:solid #5E686D 1px;
}

input[type='checkbox']:checked ~div .titleTask{
  text-decoration: line-through;
  color:#424547;
}

.titleInput{
  height: 30px;
  font-weight:500;
  margin-bottom:1em ;
}

textarea{
  color:#424547;
}


i:hover{
  box-shadow: 0 0 6px #FC993C; /* Optional: Add glow effect */
  color: #FC993C;
}


button{
  width:fit-content;
  margin-left:auto;
  border:none;
  border-bottom: solid #008DDA 1.5px;
  font-weight: 600;
  margin-right: 1em;

  background-color: transparent;
  color: #008DDA;
}
button:hover{
  color: #1a9fe7;
}